@media screen and (max-width: 479px) /* phone */
	/* flex, index */
	{
	body
		{
		width: 100%;
		background-color: #FFC;
		}
	}
	/* grid,product */

@media screen and (min-width: 481px) and (max-width: 1279px) /* tablet */
	/* flex, index */
	{
	body
		{
		width: 481px;
		background-color: #CFC;
		}
	}
	/* grid, product */

@media screen and (min-width: 1280px) /* pc */
	/* flex, index*/
	{
	body
		{
		width: 1280px;
		background-color: #CCF;
		}
	.imgFlex
		{
			width: 300;
			height: 300;
		}
	#article1fle
		{
		flex-basis: 100%;
		flex-shrink: 0;
		flex-grow: 1;
		order: 1;
		}
	#article2
		{
		flex-basis: 100%;
		flex-shrink: 0;
		flex-grow: 1;
		order: 2;
		}
	#article3
		{
		flex-basis: 100%;
		flex-shrink: 0;
		flex-grow: 1;
		order: 3;
		}
		
		
	/* grid, product */
	
	
	.picutre-size
		{
		height: 200px;
		width: 300px
		}
		
	#grid-container-body
		{
		background-color: F8F;
		border: solid 10px #F0F;
		padding: 10px;
		
		display: grid;
		grid-gap: 10px; /* between grids */
		}
		
	.grid-website-logo
		{
		grid-area: website-logo;
		}
	.grid-H1-website-title
		{
		grid-area: H1-title;
		}
	.grid-H2-payoff
		{
		grid-area: H2-payoff;
		}
	.grid-nav
		{
		grid-area: nav;
		}
	.grid-article1
		{
		grid-area: article1;
		}
	.grid-article2
		{
		grid-area: article2;
		}
	.grid-article3
		{
		grid-area: article3;
		}
	.grid-article4
		{
		grid-area: article4;
		}
	.grid-article5
		{
		grid-area: article6;
		}
	.grid-article6
		{
		grid-area: article6;
		}
	.grid-aside-product1
		{
		grid-area: aside1;
		}
	.grid-aside-product2
		{
		grid-area: aside2;
		}
	.grid-aside-product3
		{
		grid-area: article3;
		}
	.grid-studentname
		{
		grid-area: studentname;
		}
	.grid-cookiestatement
		{
		grid-area: cookie;
		}
		
		grid-template-areas:
		'grid-website-logo		grid-website-logo		grid-website-logo'
		'grid-H1-website-title	grid-H1-website-title	grid-H1-website-title'
		'grid-H2-payoff			grid-H2-payoff			grid-H2-payoff'
		'grid-nav				grid-nav				grid-nav'
		'grid-article2			grid-article1			grid-article3'
		'grid-article2			grid-article1			grid-article3'
		'grid-article5			grid-article1			grid-article3'
		'grid-article5			grid-article1			grid-article4'
		'grid-article5			grid-article1			grid-article4'
		'grid-article5			grid-article1			grid-article4'
		'grid-article5			grid-article6			grid-article6'
		'grid-aside-product1	grid-aside-product2		grid-aside-product3'
		'grid-aside-product1	grid-aside-product2		grid-aside-product3'
		'grid-studentname		grid-studentname		grid-cookiestatement'
		'grid-studentname		grid-studentname		grid-cookiestatement'
		}
	}
